html
	head
		meta (charset="utf")
		title
			Mismatch
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link (rel="stylesheet", type="text/css", href="logo.css", media="screen")

		script (src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

		link (rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script type="text/javascript" src="file-upload.js"></script>
	body 
		

	div
		div (class="header-small")
			img (class="logo-format-small", src="logo_v1.png")
			(span class="header_name_small") 
				mismatch


		div (class = "col-sm-10, col-sm-offset-1")
			span (class="center", id = "block-text")
				p.
					insert here


		div (class="footer")
			span (class="center ")
			br
			span (class = "footer_info") 
				a (href="team.html", class="pink", style="color:#d17563;")	
					the Team
					&middot;
				a (href="about.html", class="pink", style="color:#d17563;")
					 about mismatch 