html
    head
        title
    body
        form(method="post",enctype="multipart/form-data",action="/colorof")
            p
                input(type="text",name="title",placeholder="title")
            p
                input(type="file",name="photo")
            p
                input(type="submit")
